![image.png]()

In [ ]:
## Install JDK
## Install Spark
## Set Environment variables
## Create a Spark Session
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-2.4.3/spark-2.4.3-bin-hadoop2.6.tgz
!tar -xvf spark-2.4.3-bin-hadoop2.6.tgz
!pip install -q findspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.3-bin-hadoop2.6"
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [2]:
## Read the CSV file into a DataFrame
df0 = spark.read.csv("/content/drive/MyDrive/datasets/framingham00.csv",header=True)
df0.show()

+------+---+---------+-------------+----------+------+---------------+------------+--------+-------+-----+-----+-----+---------+-------+----------+
|   sex|age|education|currentSmoker|cigsPerDay|BPMeds|prevalentStroke|prevalentHyp|diabetes|totChol|sysBP|diaBP|  BMI|heartRate|glucose|TenYearCHD|
+------+---+---------+-------------+----------+------+---------------+------------+--------+-------+-----+-----+-----+---------+-------+----------+
|  male| 39|        4|            0|         0|     0|              0|           0|       0|    195|  106|   70|26.97|       80|     77|         N|
|female| 46|        2|            0|         0|     0|              0|           0|       0|    250|  121|   81|28.73|       95|     76|         N|
|  male| 48|        1|            1|        20|     0|              0|           0|       0|    245|127.5|   80|25.34|       75|     70|         N|
|female| 61|        3|            1|        30|     0|              0|           1|       0|    225|  150|   95|28.58|       65|    103|         Y|
|female| 46|        3|            1|        23|     0|              0|           0|       0|    285|  130|   84| 23.1|       85|     85|         N|
|female| 43|        2|            0|         0|     0|              0|           1|       0|    228|  180|  110| 30.3|       77|     99|         N|
|female| 63|        1|            0|         0|     0|              0|           0|       0|    205|  138|   71|33.11|       60|     85|         Y|
|female| 45|        2|            1|        20|     0|              0|           0|       0|    313|  100|   71|21.68|       79|     78|         N|
|  male| 52|        1|            0|         0|     0|              0|           1|       0|    260|141.5|   89|26.36|       76|     79|         N|
|  male| 43|        1|            1|        30|     0|              0|           1|       0|    225|  162|  107|23.61|       93|     88|         N|
|female| 50|        1|            0|         0|     0|              0|           0|       0|    254|  133|   76|22.91|       75|     76|         N|
|female| 43|        2|            0|         0|     0|              0|           0|       0|    247|  131|   88|27.64|       72|     61|         N|
|  male| 46|        1|            1|        15|     0|              0|           1|       0|    294|  142|   94|26.31|       98|     64|         N|
|female| 41|        3|            0|         0|     1|              0|           1|       0|    332|  124|   88|31.31|       65|     84|         N|
|female| 39|        2|            1|         9|     0|              0|           0|       0|    226|  114|   64|22.35|       85|     NA|         N|
|female| 38|        2|            1|        20|     0|              0|           1|       0|    221|  140|   90|21.35|       95|     70|         Y|
|  male| 48|        3|            1|        10|     0|              0|           1|       0|    232|  138|   90|22.37|       64|     72|         N|
|female| 46|        2|            1|        20|     0|              0|           0|       0|    291|  112|   78|23.38|       80|     89|         Y|
|female| 38|        2|            1|         5|     0|              0|           0|       0|    195|  122| 84.5|23.24|       75|     78|         N|
|  male| 41|        2|            0|         0|     0|              0|           0|       0|    195|  139|   88|26.88|       85|     65|         N|
+------+---+---------+-------------+----------+------+---------------+------------+--------+-------+-----+-----+-----+---------+-------+----------+
only showing top 20 rows

In [3]:
#we have a pyspark dataframe
type(df0)

pyspark.sql.dataframe.DataFrame

In [4]:
#the numbre of rows
df0.count()

4240

In [5]:
#rename the sex column to male --> 0 or 1
df1 = df0.withColumnRenamed("sex","male")

In [6]:
from pyspark.sql.functions import when
#change the column values
# male --> 1 and female --> 0
df2 = df1.withColumn("male", when(df1.male == "male","1")
                                 .when(df1.male == "female","0")
                                 .otherwise(df1.male))
df2.show()

+----+---+---------+-------------+----------+------+---------------+------------+--------+-------+-----+-----+-----+---------+-------+----------+
|male|age|education|currentSmoker|cigsPerDay|BPMeds|prevalentStroke|prevalentHyp|diabetes|totChol|sysBP|diaBP|  BMI|heartRate|glucose|TenYearCHD|
+----+---+---------+-------------+----------+------+---------------+------------+--------+-------+-----+-----+-----+---------+-------+----------+
|   1| 39|        4|            0|         0|     0|              0|           0|       0|    195|  106|   70|26.97|       80|     77|         N|
|   0| 46|        2|            0|         0|     0|              0|           0|       0|    250|  121|   81|28.73|       95|     76|         N|
|   1| 48|        1|            1|        20|     0|              0|           0|       0|    245|127.5|   80|25.34|       75|     70|         N|
|   0| 61|        3|            1|        30|     0|              0|           1|       0|    225|  150|   95|28.58|       65|    103|         Y|
|   0| 46|        3|            1|        23|     0|              0|           0|       0|    285|  130|   84| 23.1|       85|     85|         N|
|   0| 43|        2|            0|         0|     0|              0|           1|       0|    228|  180|  110| 30.3|       77|     99|         N|
|   0| 63|        1|            0|         0|     0|              0|           0|       0|    205|  138|   71|33.11|       60|     85|         Y|
|   0| 45|        2|            1|        20|     0|              0|           0|       0|    313|  100|   71|21.68|       79|     78|         N|
|   1| 52|        1|            0|         0|     0|              0|           1|       0|    260|141.5|   89|26.36|       76|     79|         N|
|   1| 43|        1|            1|        30|     0|              0|           1|       0|    225|  162|  107|23.61|       93|     88|         N|
|   0| 50|        1|            0|         0|     0|              0|           0|       0|    254|  133|   76|22.91|       75|     76|         N|
|   0| 43|        2|            0|         0|     0|              0|           0|       0|    247|  131|   88|27.64|       72|     61|         N|
|   1| 46|        1|            1|        15|     0|              0|           1|       0|    294|  142|   94|26.31|       98|     64|         N|
|   0| 41|        3|            0|         0|     1|              0|           1|       0|    332|  124|   88|31.31|       65|     84|         N|
|   0| 39|        2|            1|         9|     0|              0|           0|       0|    226|  114|   64|22.35|       85|     NA|         N|
|   0| 38|        2|            1|        20|     0|              0|           1|       0|    221|  140|   90|21.35|       95|     70|         Y|
|   1| 48|        3|            1|        10|     0|              0|           1|       0|    232|  138|   90|22.37|       64|     72|         N|
|   0| 46|        2|            1|        20|     0|              0|           0|       0|    291|  112|   78|23.38|       80|     89|         Y|
|   0| 38|        2|            1|         5|     0|              0|           0|       0|    195|  122| 84.5|23.24|       75|     78|         N|
|   1| 41|        2|            0|         0|     0|              0|           0|       0|    195|  139|   88|26.88|       85|     65|         N|
+----+---+---------+-------------+----------+------+---------------+------------+--------+-------+-----+-----+-----+---------+-------+----------+
only showing top 20 rows

In [7]:
#change the column values
# TenYearCHD --> 1 and !TenYearCHD --> 0
df3 = df2.withColumn("TenYearCHD", when(df2.TenYearCHD == "Y","1")
                                 .when(df2.TenYearCHD == "N","0")
                                 .otherwise(df2.TenYearCHD))
df3.show()

+----+---+---------+-------------+----------+------+---------------+------------+--------+-------+-----+-----+-----+---------+-------+----------+
|male|age|education|currentSmoker|cigsPerDay|BPMeds|prevalentStroke|prevalentHyp|diabetes|totChol|sysBP|diaBP|  BMI|heartRate|glucose|TenYearCHD|
+----+---+---------+-------------+----------+------+---------------+------------+--------+-------+-----+-----+-----+---------+-------+----------+
|   1| 39|        4|            0|         0|     0|              0|           0|       0|    195|  106|   70|26.97|       80|     77|         0|
|   0| 46|        2|            0|         0|     0|              0|           0|       0|    250|  121|   81|28.73|       95|     76|         0|
|   1| 48|        1|            1|        20|     0|              0|           0|       0|    245|127.5|   80|25.34|       75|     70|         0|
|   0| 61|        3|            1|        30|     0|              0|           1|       0|    225|  150|   95|28.58|       65|    103|         1|
|   0| 46|        3|            1|        23|     0|              0|           0|       0|    285|  130|   84| 23.1|       85|     85|         0|
|   0| 43|        2|            0|         0|     0|              0|           1|       0|    228|  180|  110| 30.3|       77|     99|         0|
|   0| 63|        1|            0|         0|     0|              0|           0|       0|    205|  138|   71|33.11|       60|     85|         1|
|   0| 45|        2|            1|        20|     0|              0|           0|       0|    313|  100|   71|21.68|       79|     78|         0|
|   1| 52|        1|            0|         0|     0|              0|           1|       0|    260|141.5|   89|26.36|       76|     79|         0|
|   1| 43|        1|            1|        30|     0|              0|           1|       0|    225|  162|  107|23.61|       93|     88|         0|
|   0| 50|        1|            0|         0|     0|              0|           0|       0|    254|  133|   76|22.91|       75|     76|         0|
|   0| 43|        2|            0|         0|     0|              0|           0|       0|    247|  131|   88|27.64|       72|     61|         0|
|   1| 46|        1|            1|        15|     0|              0|           1|       0|    294|  142|   94|26.31|       98|     64|         0|
|   0| 41|        3|            0|         0|     1|              0|           1|       0|    332|  124|   88|31.31|       65|     84|         0|
|   0| 39|        2|            1|         9|     0|              0|           0|       0|    226|  114|   64|22.35|       85|     NA|         0|
|   0| 38|        2|            1|        20|     0|              0|           1|       0|    221|  140|   90|21.35|       95|     70|         1|
|   1| 48|        3|            1|        10|     0|              0|           1|       0|    232|  138|   90|22.37|       64|     72|         0|
|   0| 46|        2|            1|        20|     0|              0|           0|       0|    291|  112|   78|23.38|       80|     89|         1|
|   0| 38|        2|            1|         5|     0|              0|           0|       0|    195|  122| 84.5|23.24|       75|     78|         0|
|   1| 41|        2|            0|         0|     0|              0|           0|       0|    195|  139|   88|26.88|       85|     65|         0|
+----+---+---------+-------------+----------+------+---------------+------------+--------+-------+-----+-----+-----+---------+-------+----------+
only showing top 20 rows

In [8]:
#verify the datatype of our dataset
df3.printSchema()

root
 |-- male: string (nullable = true)
 |-- age: string (nullable = true)
 |-- education: string (nullable = true)
 |-- currentSmoker: string (nullable = true)
 |-- cigsPerDay: string (nullable = true)
 |-- BPMeds: string (nullable = true)
 |-- prevalentStroke: string (nullable = true)
 |-- prevalentHyp: string (nullable = true)
 |-- diabetes: string (nullable = true)
 |-- totChol: string (nullable = true)
 |-- sysBP: string (nullable = true)
 |-- diaBP: string (nullable = true)
 |-- BMI: string (nullable = true)
 |-- heartRate: string (nullable = true)
 |-- glucose: string (nullable = true)
 |-- TenYearCHD: string (nullable = true)

In [9]:
from pyspark.sql.types import *
from pyspark.sql.functions import col

#change the columns datatypes from string to int/float
df4 = df3.withColumn("male",col("male").cast(IntegerType())) \
    .withColumn("age",col("age").cast(IntegerType())) \
    .withColumn("education",col("education").cast(FloatType())) \
    .withColumn("currentSmoker",col("currentSmoker").cast(IntegerType())) \
    .withColumn("cigsPerDay",col("cigsPerDay").cast(FloatType())) \
    .withColumn("BPMeds",col("BPMeds").cast(FloatType())) \
    .withColumn("prevalentStroke",col("prevalentStroke").cast(IntegerType())) \
    .withColumn("prevalentHyp",col("prevalentHyp").cast(IntegerType())) \
    .withColumn("diabetes",col("diabetes").cast(IntegerType())) \
    .withColumn("totChol",col("totChol").cast(FloatType())) \
    .withColumn("sysBP",col("sysBP").cast(FloatType())) \
    .withColumn("diaBP",col("diaBP").cast(FloatType())) \
    .withColumn("BMI",col("BMI").cast(FloatType())) \
    .withColumn("heartRate",col("heartRate").cast(FloatType())) \
    .withColumn("glucose",col("glucose").cast(FloatType())) \
    .withColumn("TenYearCHD",col("TenYearCHD").cast(IntegerType()))
df4.printSchema()

root
 |-- male: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- education: float (nullable = true)
 |-- currentSmoker: integer (nullable = true)
 |-- cigsPerDay: float (nullable = true)
 |-- BPMeds: float (nullable = true)
 |-- prevalentStroke: integer (nullable = true)
 |-- prevalentHyp: integer (nullable = true)
 |-- diabetes: integer (nullable = true)
 |-- totChol: float (nullable = true)
 |-- sysBP: float (nullable = true)
 |-- diaBP: float (nullable = true)
 |-- BMI: float (nullable = true)
 |-- heartRate: float (nullable = true)
 |-- glucose: float (nullable = true)
 |-- TenYearCHD: integer (nullable = true)

In [10]:
from pyspark.sql.functions import col,isnan, when, count
#check for null values
df4.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df4.columns]
   ).show()

+----+---+---------+-------------+----------+------+---------------+------------+--------+-------+-----+-----+---+---------+-------+----------+
|male|age|education|currentSmoker|cigsPerDay|BPMeds|prevalentStroke|prevalentHyp|diabetes|totChol|sysBP|diaBP|BMI|heartRate|glucose|TenYearCHD|
+----+---+---------+-------------+----------+------+---------------+------------+--------+-------+-----+-----+---+---------+-------+----------+
|   0|  0|      105|            0|        29|    53|              0|           0|       0|     50|    0|    0| 19|        1|    388|         0|
+----+---+---------+-------------+----------+------+---------------+------------+--------+-------+-----+-----+---+---------+-------+----------+

In [11]:
# get education median value
import pyspark.sql.functions as F
med = df4.approxQuantile('education',[0.5],0.1)[0]
print(med)

1.0

In [12]:
# Replace missing education with median value
df5 = df4.na.fill(med,["education"])
df5.show()

+----+---+---------+-------------+----------+------+---------------+------------+--------+-------+-----+-----+-----+---------+-------+----------+
|male|age|education|currentSmoker|cigsPerDay|BPMeds|prevalentStroke|prevalentHyp|diabetes|totChol|sysBP|diaBP|  BMI|heartRate|glucose|TenYearCHD|
+----+---+---------+-------------+----------+------+---------------+------------+--------+-------+-----+-----+-----+---------+-------+----------+
|   1| 39|      4.0|            0|       0.0|   0.0|              0|           0|       0|  195.0|106.0| 70.0|26.97|     80.0|   77.0|         0|
|   0| 46|      2.0|            0|       0.0|   0.0|              0|           0|       0|  250.0|121.0| 81.0|28.73|     95.0|   76.0|         0|
|   1| 48|      1.0|            1|      20.0|   0.0|              0|           0|       0|  245.0|127.5| 80.0|25.34|     75.0|   70.0|         0|
|   0| 61|      3.0|            1|      30.0|   0.0|              0|           1|       0|  225.0|150.0| 95.0|28.58|     65.0|  103.0|         1|
|   0| 46|      3.0|            1|      23.0|   0.0|              0|           0|       0|  285.0|130.0| 84.0| 23.1|     85.0|   85.0|         0|
|   0| 43|      2.0|            0|       0.0|   0.0|              0|           1|       0|  228.0|180.0|110.0| 30.3|     77.0|   99.0|         0|
|   0| 63|      1.0|            0|       0.0|   0.0|              0|           0|       0|  205.0|138.0| 71.0|33.11|     60.0|   85.0|         1|
|   0| 45|      2.0|            1|      20.0|   0.0|              0|           0|       0|  313.0|100.0| 71.0|21.68|     79.0|   78.0|         0|
|   1| 52|      1.0|            0|       0.0|   0.0|              0|           1|       0|  260.0|141.5| 89.0|26.36|     76.0|   79.0|         0|
|   1| 43|      1.0|            1|      30.0|   0.0|              0|           1|       0|  225.0|162.0|107.0|23.61|     93.0|   88.0|         0|
|   0| 50|      1.0|            0|       0.0|   0.0|              0|           0|       0|  254.0|133.0| 76.0|22.91|     75.0|   76.0|         0|
|   0| 43|      2.0|            0|       0.0|   0.0|              0|           0|       0|  247.0|131.0| 88.0|27.64|     72.0|   61.0|         0|
|   1| 46|      1.0|            1|      15.0|   0.0|              0|           1|       0|  294.0|142.0| 94.0|26.31|     98.0|   64.0|         0|
|   0| 41|      3.0|            0|       0.0|   1.0|              0|           1|       0|  332.0|124.0| 88.0|31.31|     65.0|   84.0|         0|
|   0| 39|      2.0|            1|       9.0|   0.0|              0|           0|       0|  226.0|114.0| 64.0|22.35|     85.0|   null|         0|
|   0| 38|      2.0|            1|      20.0|   0.0|              0|           1|       0|  221.0|140.0| 90.0|21.35|     95.0|   70.0|         1|
|   1| 48|      3.0|            1|      10.0|   0.0|              0|           1|       0|  232.0|138.0| 90.0|22.37|     64.0|   72.0|         0|
|   0| 46|      2.0|            1|      20.0|   0.0|              0|           0|       0|  291.0|112.0| 78.0|23.38|     80.0|   89.0|         1|
|   0| 38|      2.0|            1|       5.0|   0.0|              0|           0|       0|  195.0|122.0| 84.5|23.24|     75.0|   78.0|         0|
|   1| 41|      2.0|            0|       0.0|   0.0|              0|           0|       0|  195.0|139.0| 88.0|26.88|     85.0|   65.0|         0|
+----+---+---------+-------------+----------+------+---------------+------------+--------+-------+-----+-----+-----+---------+-------+----------+
only showing top 20 rows

In [13]:
#check if education still have null values
df5.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df5.columns]
   ).show()

+----+---+---------+-------------+----------+------+---------------+------------+--------+-------+-----+-----+---+---------+-------+----------+
|male|age|education|currentSmoker|cigsPerDay|BPMeds|prevalentStroke|prevalentHyp|diabetes|totChol|sysBP|diaBP|BMI|heartRate|glucose|TenYearCHD|
+----+---+---------+-------------+----------+------+---------------+------------+--------+-------+-----+-----+---+---------+-------+----------+
|   0|  0|        0|            0|        29|    53|              0|           0|       0|     50|    0|    0| 19|        1|    388|         0|
+----+---+---------+-------------+----------+------+---------------+------------+--------+-------+-----+-----+---+---------+-------+----------+

In [14]:
#delete all rows with null values
df6 = df5.na.drop()

In [15]:
#verify if we still have null values or not!
df6.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df5.columns]
   ).show()

+----+---+---------+-------------+----------+------+---------------+------------+--------+-------+-----+-----+---+---------+-------+----------+
|male|age|education|currentSmoker|cigsPerDay|BPMeds|prevalentStroke|prevalentHyp|diabetes|totChol|sysBP|diaBP|BMI|heartRate|glucose|TenYearCHD|
+----+---+---------+-------------+----------+------+---------------+------------+--------+-------+-----+-----+---+---------+-------+----------+
|   0|  0|        0|            0|         0|     0|              0|           0|       0|      0|    0|    0|  0|        0|      0|         0|
+----+---+---------+-------------+----------+------+---------------+------------+--------+-------+-----+-----+---+---------+-------+----------+

In [16]:
#the new size of our dataset
df6.count()

3751

In [18]:
## Write the transformed dataframe to a new csv file
#df6.write.format("csv").save("/content/drive/MyDrive/datasets/framingham2",header = 'true')

In [19]:
#!ls

In [20]:
#!cat bank_prospects_transformed/part-00000-588f51a7-d80b-4402-aed5-717e24ffcc0c-c000.csv